.page-header{
    background-color: #33FFFF   ;
    margin-top: 5px;
    padding: 15px 15px 15px 15px;
    font-family: 'Abel';
    font-size; 15px;
    color: #FFFFFF;
    text-align: center;
}

.page-header a{
    color: black;
    /* se aplica al elemento que esta dentro de h2 */
}

.content{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 12px;
    font-family: 'Calibre';

}

.dni{
    color: red;
}

body{
    background-color: white;
}

.v: {
	margin-left: 15px;
}